{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>

<h2>Lista de Pessoas</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    {% for pessoa in pessoas %}
    <tr>
      <td>{{ pessoa.id }}</td>
      <td>{{ pessoa.nome }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ wtf.quick_form(form) }}
{% endblock %}
